<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Changa Manga ka Jungal</h2>
            <p>You are: <strong>{{ username }}</strong></p>
            <p id="status">Connecting...</p>
        </div>

        <div id="messages" class="messages"></div>

        <div class="chat-input">
            <input type="text" id="messageInput" placeholder="yaha likho aur chat karo">
            <button type="button" id="sendBtn">Send</button>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script>
        const socket = io("http://127.0.0.1:5000");
        const username = "{{ username }}";

        const messagesDiv = document.getElementById("messages");
        const messageInput = document.getElementById("messageInput");
        const sendBtn = document.getElementById("sendBtn");
        const statusText = document.getElementById("status");

        function addMessage(data) {
            console.log("Browser received:", data);

            const msg = document.createElement("div");
            msg.className = "message";
            msg.innerHTML = "<strong>" + data.username + ":</strong> " + data.text;
            messagesDiv.appendChild(msg);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }

        socket.on("connect", function () {
            console.log("Connected to server");
            statusText.textContent = "Connected";
            socket.emit("join_chat", { username: username });
        });

        socket.on("disconnect", function () {
            console.log("Disconnected from server");
            statusText.textContent = "Disconnected";
        });

        socket.on("chat_message", function (data) {
            addMessage(data);
        });

        sendBtn.addEventListener("click", function () {
            const text = messageInput.value.trim();

            if (text !== "") {
                console.log("Sending:", text);

                socket.emit("send_chat_message", {
                    username: username,
                    text: text
                });

                messageInput.value = "";
                messageInput.focus();
            }
        });

        messageInput.addEventListener("keydown", function (e) {
            if (e.key === "Enter") {
                sendBtn.click();
            }
        });

        window.addEventListener("beforeunload", function () {
            socket.emit("leave_chat", { username: username });
        });
    </script>
</body>
</html>