<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farigh Loago Ki Batain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Farigh Loago Ki Batain</h1>
            <p>Naam likho ya khali choor do, aur guest name le lo</p>

            <form method="POST">
                <input type="text" name="username" placeholder="apna naam likh bhai - ya bhai ki behan">
                <button type="submit">chat join karo</button>
            </form>

        </div>
    </div>
</body>
</html>